@font-face {
  font-family:"akrobat bold";
  src: url("../fonts/Akrobat-Bold.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"akrobat light";
  src: url("../fonts/Akrobat-Light.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"akrobat regular";
  src: url("../fonts/Akrobat-Regular.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"roboto light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"roboto bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}