@media all {
  .some-page {
    .call-back {
      display: inline-block;
      background: url("../img/record-info.jpg") no-repeat;
      height: 393px;
      max-width: 500px;
      width: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      vertical-align: top;
      h5 {
        margin: 28px 0 0 0;
        font: normal 36px "akrobat light";
        color: #fc7631;
        text-align: center;
      }
      .form {
        margin-top: 47px;
        line-height: 22px;
        letter-spacing: -0.5px;
        font: normal 16px "roboto light";
        color: #333;
        &__title {
          text-align: center;
        }
        &__number {
          margin-top: 37px;
          margin-left: 17px;
          div {
            font: normal 36px "roboto light";
            color: #333;
            border-bottom: 2px solid #ffaa7e;
            width: 315px;
            margin: 0 auto;
            padding-bottom: 2px;
            input {
              border: none;
              background: none;
              font: normal 36px "roboto light";
              color: #333;
              outline: none;
              width: 250px;
            }
          }
          button {
            letter-spacing: 0.5px;
            font: normal 14px "roboto bold";
            border: none;
            border-radius: 25px;
            background-color: #df5915;
            padding: 10px 35px;
            color: #fff;
            cursor: pointer;
            display: block;
            margin: 36px auto 0;
          }
        }
      }
    }
    .container {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      .guaranteed-sale {
        margin-top: 61px;
        background: url("../img/grafik-bg.jpg") no-repeat;
        height: 492px;
        &__info {
          margin-top: 93px;
          margin-left: 84px;
          display: inline-block;
          width: 50%;
          font: normal 16px "roboto light";
          vertical-align: top;
          h3 {
            font: normal 48px "akrobat light";
            color: #222;
            margin: 0;
          }
          .border {
            margin-top: 33px;
            width: 80px;
            border-bottom: 4px solid #df5915;
          }
          .about {
            margin-top: 35px;
            line-height: 23px;
            width: 490px;
            color: #222;
          }
          .annotation {
            color: #df5915;
            margin-top: 15px;
          }
        }
        &__chart {
          margin-top: 60px;
          margin-left: 13px;
          display: inline-block;
          background: url("../img/chart-bg.png") no-repeat;
          height: 368px;
          width: 366px;
          position: relative;
          .percent-info {
            position: absolute;
            left: 50%;
            margin-left: -93px;
            top: 50%;
            margin-top: -96px;
            span:first-child {
              font: normal 24px "akrobat bold";
              color: #df5915;
            }
            span:nth-child(2) {
              font: normal 160px "akrobat bold";
              color: #df5915;
            }
            span:last-child {
              font: normal 72px "akrobat regular";
              color: #df5915;
            }
          }
          canvas {
            margin-left: 18px;
            margin-top: 18px;
          }
        }
      }
      .achievement {
        margin-top: 86px;
        h3 {
          font: normal 48px "akrobat bold";
          text-align: center;
          color: #685852;
          margin: 0;
        }
        &__all {
          margin-top: 33px;
          margin-left: 19px;
          display: flex;
          justify-content: center;
          .linear-chart {
            margin-top: 18px;
            display: flex;
            height: 350px;
            position: relative;
            .percent {
              justify-content: space-between;
              position: relative;
              right: 18px;
              text-align: right;
              top: 7px;
              display: flex;
              flex-direction: column;
              font: normal 13px "roboto light";
              color: #333;
            }
            .linear {
              display: inline-block;
            }
          }
        }
      }
      .failure {
        background: url("../img/failure.jpg") no-repeat;
        height: 290px;
        max-width: 1090px;
        width: 100%;
        margin: 51px auto 0;
        position: relative;
        &__info {
          position: absolute;
          font: normal 16px "roboto light";
          color: #333333;
          width: 480px;
          right: 86px;
          top: 140px;
          line-height: 24px;
          border-left: 4px solid #df5915;
          padding-left: 26px;
        }
      }
      .audit {
        margin-top: 88px;
        background: url("../img/audit-bg.jpg") no-repeat;
        max-width: 1199px;
        width: 100%;
        height: 492px;
        h3 {
          padding-top: 105px;
          padding-left: 82px;
          font: normal 48px "akrobat light";
          color: #222;
          margin: 0;
        }
        &__title {
          margin-left: 84px;
          margin-top: 60px;
          font: normal 36px "akrobat light";
          color: #fc7631;
        }
        &__info {
          margin-top: 18px;
          margin-left: 86px;
          line-height: 23px;
          font: normal 16px "roboto light";
          color: #222;
        }
      }
      .audit-result {
        margin-top: 39px;
        h6 {
          padding-left: 134px;
          margin: 0;
          font: normal 30px "akrobat regular";
          color: #333;
          text-align: left;
        }
        &__all {
          .flex {
            display: flex;
            .result-block {
              margin-left: 135px;
              display: inline-block;
              vertical-align: top;
              .circle-chart {
                height: 60px;
                width: 60px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                border-radius: 50%;
                display: inline-block;
                vertical-align: top;
              }
              .circle-chart_orange {
                background: url("../img/png/fourth.png") no-repeat;
              }
              .circle-chart_green {
                background: url("../img/png/green-fourth.png") no-repeat;
              }
              .circle-chart_violet {
                background: url("../img/png/violet-fourth.png") no-repeat;
              }
              .circle-chart_blue {
                background: url("../img/png/blue-fourth.png") no-repeat;
              }
              .steps {
                margin-left: 38px;
                margin-top: 16px;
                display: inline-block;
                font: normal 24px "akrobat ligt";
                color: #685852;
                width: 330px;
                span {
                  font-family: akrobat;
                  letter-spacing: -0.2px;
                }
                ul {
                  list-style: none;
                  margin: 20px 0 0 0;
                  padding: 0;
                  li {
                    margin-bottom: 14px;
                    font: normal 16px "roboto light";
                    color: #333;
                    line-height: 22px;
                  }
                  .orange-circle {
                    background: url("../img/png/orange-circle.png") 0 4px no-repeat;
                    padding-left: 20px;
                  }
                  .green-circle {
                    background: url("../img/png/green-circle.png") 0 4px no-repeat;
                    padding-left: 20px;
                  }
                  .violet-circle {
                    background: url("../img/png/violet-circle.png") 0 4px no-repeat;
                    padding-left: 20px;
                  }
                  .blue-circle {
                    background: url("../img/png/blue-circle.png") 0 4px no-repeat;
                    padding-left: 20px;
                  }
                }
              }
            }
            .result-block:last-child {
              margin-left: 97px;
            }
          }
          .flex:first-child {
            margin-top: 54px;
          }
          .flex:last-child {
            margin-top: 57px;
          }
        }
      }
      .growth {
        background: url("../img/png/three.png") no-repeat;
        margin: 22px auto 0;
        height: 210px;
        max-width: 910px;
        width: 100%;
        position: relative;
        &__info {
          position: absolute;
          font: normal 16px "roboto light";
          color: #333333;
          width: 480px;
          right: 85px;
          top: 101px;
          line-height: 25px;
          border-left: 4px solid #df5915;
          padding-left: 27px;
        }
      }
      .reviews {
        margin-top: 91px;
        h3 {
          font: normal 48px "akrobat bold";
          color: #685852;
          text-align: center;
          margin: 0;
        }
        .slider {
          position: relative;
          width: 800px;
          margin: 81px auto 0;
          button {
            border: none;
            font-size: 0;
            position: absolute;
            outline: none;
            cursor: pointer;
            z-index: 9999;
            top: 50%;
            margin-top: -100px;
          }
          .slick-prev {
            background: url("../img/png/arrow-left.png") no-repeat;
            width: 25px;
            height: 46px;
            left: -120px;
          }
          .slick-next {
            background: url("../img/png/arrow-right.png") no-repeat;
            width: 25px;
            height: 46px;
            right: -120px;
          }
          .slide {
            &__vertical {
              background: url("../img/vertical-fig.jpg") no-repeat;
              width: 4px;
              height: 40px;
              margin: 32px auto 0;
            }
            &__logo {
              margin-top: 27px;
              img {
                display: block;
                margin: 0 auto;
              }
            }
            &__result {
              margin-top: 27px;
              text-align: center;
              div {
                font-size: 16px;
                font-family: "roboto light";
                color: #666;
                strong {
                  font-family: "roboto bold";
                  color: #333;
                }
              }
              div:last-child {
                margin-top: 19px;
              }
            }
          }
        }
      }
      .callback-down {
        padding-bottom: 100px;
        margin-top: 93px;
        margin-right: 71px;
        display: flex;
        justify-content: center;
        .last-chart {
          margin-top: 22px;
          display: inline-block;
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .some-page {
    .call-back {
      width: 320px;
      height: 353px;
      display: block;
      margin: 0 auto;
      h5 {
        padding: 21px 5px 0 5px;
        letter-spacing: -0.2px;
        margin: 0;
        font-size: 30px;
      }
      .form {
        margin-top: 15px;
        &__number {
          margin-left: 0;
          margin-top: 58px;
          div {
            width: 275px;
            font-size: 30px;
            input {
              width: 225px;
              font-size: 30px;
            }
          }
        }
      }
    }
    .container {
      .guaranteed-sale {
        margin-top: 0;
        position: relative;
        background-position: -1100px;
        background-size: cover;
        height: 730px;
        &__info {
          margin-top: 0;
          margin-left: 0;
          display: block;
          width: 100%;
          h3 {
            padding-top: 72px;
            letter-spacing: 0.4px;
            font-size: 30px;
            text-align: center;
          }
          .border {
            display: none;
          }
          .about {
            width: auto;
            margin-left: 33px;
            margin-top: 365px;
            line-height: 24px;
          }
          .annotation {
            margin-left: 20px;
            margin-top: 20px;
            line-height: 24px;
          }
        }
        &__chart {
          margin-top: 93px;
          display: block;
          position: absolute;
          top: 85px;
          left: 50%;
          margin-left: -149px;
          width: 298px;
          height: 298px;
          background-size: 298px 298px;
          canvas {
            margin-left: 18px;
            margin-top: 18px;
          }
        }
      }
      .achievement {
        margin-top: 54px;
        h3 {
          font-size: 30px;
          padding: 0 10px;
        }
        &__all {
          margin-top: 35px;
          margin-left: 0;
          display: block;
          .linear-chart {
            display: block;
            height: auto;
            .linear {
              display: block;
              img {
                height: 275px;
                width: 320px;
                margin: 0 auto;
                display: block;
              }
            }
            .percent {
              display: none;
            }
          }
        }
      }
      .failure {
        background: url("../img/failure-small.jpg") no-repeat;
        width: 320px;
        height: 444px;
        margin-top: 0;
        &__info {
          position: relative;
          top: 242px;
          left: 0;
          width: auto;
          margin-left: 20px;
          padding-left: 18px;
          padding-right: 10px;
        }
      }
      .audit {
        margin-top: 60px;
        margin-left: 0;
        height: 380px;
        background-position: -322px;
        background-size: cover;
        h3 {
          padding-top: 31px;
          padding-left: 18px;
          font-size: 30px;
        }
        &__title {
          font-size: 30px;
          margin-top: 25px;
          margin-left: 17px;
        }
        &__info {
          margin-top: 13px;
          margin-left: 18px;
          padding-right: 25px;
          line-height: 24px;
        }
      }
      .audit-result {
        margin-top: 29px;
        h6 {
          text-align: center;
          padding: 0 20px;
        }
        &__all {
          margin-top: 35px;
          .flex {
            flex-direction: column;
            .result-block {
              margin-top: 0;
              margin-left: 0;
              &:last-child {
                margin-top: 22px;
                margin-left: 0;
              }
              .circle-chart {
                display: block;
                margin: 0 auto;
              }
              .steps {
                margin-top: 37px;
                width: auto;
                margin-left: 20px;
                padding-right: 20px;
                ul {
                  margin: 18px 0 0;
                  padding-left: 3px;
                }
              }
            }
          }
          .flex:first-child {
            margin: 0;
          }
          .flex:last-child {
            margin-top: 28px;
          }
        }
      }
      .growth {
        background: url("../img/png/three-small.png") no-repeat;
        margin: -7px auto 0;
        height: 421px;
        width: 320px;
        &__info {
          width: auto;
          top: 266px;
          left: 0;
          position: relative;
          margin-left: 20px;
          padding-left: 19px;
          padding-right: 15px;
          line-height: 24px;
        }
      }
      .reviews {
        margin-top: 31px;
        h3 {
          font-size: 30px;
        }
        .slider {
          width: 100%;
          max-width: 800px;
          margin: 21px auto 0;
          .slide {
            img {
              width: 320px;
              height: 198px;
              margin: 0 auto;
            }
            &__logo {
              margin-top: 23px;
              img {
                width: 241px;
                height: 83px;
              }
            }
            &__result {
              div:last-child {
                margin-top: 17px;
                letter-spacing: 0.1px;
              }
            }
          }
          button {
            margin-top: 0;
          }
          .slick-next {
            right: 65px;
          }
          .slick-prev {
            left: 65px;
          }
        }
      }
      .callback-down {
        padding: 0;
        margin: 37px 0 0;
        flex-direction: column;
        .last-chart {
          margin-top: 0;
          display: block;
          img {
            width: 320px;
            height: 215px;
            margin: 0 auto;
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px){
  .some-page {
    .container {
      .guaranteed-sale {
        background-position: -600px;
        &__info {
          .about {
            margin-top: 415px;
          }
        }
      }
      .audit {
        background-size: inherit;
        width: 640px;
        margin: 60px auto 0;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .some-page {
    .container {
      .reviews {
        .slider {
          .slick-prev {
            left: -60px;
          }
          .slick-next {
            right: -60px;
          }
        }
      }
      .callback-down {
        margin-right: 0;
      }
      .failure {
        background-position: 30px;
        &__info {
          right: 35px;
        }
      }
      .achievement {
        &__all {
          .linear-chart {
            .percent {
              right: 3px;
            }
          }
        }
      }
    }
  }
}