//= template/head.html
<div class="some-page">
<div class="container">
    <div class="guaranteed-sale">
        <div class="guaranteed-sale__info">
            <h3>УВЕЛИЧИВАЕМ ПРОДАЖИ ГАРАНТИРОВАНО</h3>
            <div class="border"></div>
            <div class="about">
                Наш опыт 4х лет работы, наработанные методики повышения продаж позволяют заключать договора с
                гарантией результата.
            </div>
            <div class="annotation">
                * Если в указанные сроки мы не достигаем результата – возвращаем деньги.
            </div>
        </div>
        <div class="guaranteed-sale__chart">
            <div class="percent-info">
                <span>от</span> <span id="current-value">0</span><span>%</span>
            </div>
        </div>
    </div>
    <div class="achievement">
        <h3>НАШ РЕКОРД УВЕЛИЧЕНИЯ ПРОДАЖ</h3>
        <div class="achievement__all">
            <div class="linear-chart">
                <div class="percent">
                    <div>400%</div>
                    <div>200%</div>
                    <div>100%</div>
                    <div>0%</div>
                </div>
                <div class="linear">
                    <img src="img/record.jpg" alt="рекорд увеличения продаж компании SALERS">
                </div>
            </div>
            <div class="call-back">
                <h5>
                    Хотите узнать на сколько<br>повысятся ваши продажи?
                </h5>
                <div class="form">
                    <div class="form__title">
                        Оставьте номер телефона и специалист<br>свяжется с вами в ближайшее время!
                    </div>
                    <div class="form__number">
                        <div>+38<input type="text" class="phone-number"></div>
                        <button>ПЕРЕЗВОНИТЕ МНЕ!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="failure">
        <div class="failure__info">
            Мы гордимся нашими результатами, но и не боимся признавать поражения.  В 3 случаях из 158 мы не справились
            с задачами и клиенты получили полный возврат затраченных средств.
        </div>
    </div>
    <div class="audit">
        <h3>
            СОТРУДНИЧЕСТВО НАЧИНАЕТСЯ<br>
            С БЕСПЛАТНОГО АУДИТА
        </h3>
        <div class="audit__title">Как мы проводим бесплатный аудит?</div>
        <div class="audit__info">
            Команда экспертов в течение недели погружается в нюансы<br> бизнеса клиента. Мы выявляем слабые места в компании:
        </div>
    </div>
    <div class="audit-result">
        <h6>Что мы узнаем в результате аудита?</h6>
        <div class="audit-result__all">
            <div class="flex">
                <div class="result-block">
                <div class="circle-chart circle-chart_orange"></div>
                <div class="steps">
                    <span>Стратегия и позиционирование </span>
                    <ul>
                        <li class="orange-circle">Текущая позиция на рынке </li>
                        <li class="orange-circle">Стратегия продаж</li>
                        <li class="orange-circle">Факторы продаж. </li>
                        <li class="orange-circle">Торговые предложения. </li>
                        <li class="orange-circle">Определение целевой аудитории. </li>
                    </ul>
                </div>
            </div>
                <div class="result-block">
                <div class="circle-chart circle-chart_green"></div>
                <div class="steps">
                    <span>Каналы продаж</span>
                    <ul>
                        <li class="green-circle">
                            Анализ эффективности каждого из существующих в компании каналов продаж.
                        </li>
                        <li class="green-circle">
                            Выявление дополнительных каналов для роста.
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            <div class="flex">
                <div class="result-block">
                <div class="circle-chart circle-chart_violet"></div>
                <div class="steps">
                    <span>Персонал</span>
                    <ul>
                        <li class="violet-circle">
                            Аудит руководителя и менеджеров
                            по продажам.
                        </li>
                        <li class="violet-circle">
                            Аудит входящих и исходящих
                            телефонных звонков.
                        </li>
                    </ul>
                </div>
            </div>
                <div class="result-block">
                <div class="circle-chart circle-chart_blue"></div>
                <div class="steps">
                    <span>Бизнес процессы</span>
                    <ul>
                        <li class="blue-circle">
                            Анализ работ всех подразделений
                            компании.
                        </li>
                        <li class="blue-circle">
                            Определение критериев активности
                            каждой бизнес-единицы.
                        </li>
                        <li class="blue-circle">
                            Анализ эффективности сделок и
                            работы с клиентами
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="growth">
        <div class="growth__info">
            После подписания договора в ваше распоряжение поступает команда профессиональных
            экспертов и компания вступает в фазу успешного роста.
        </div>
    </div>
    <div class="reviews">
        <h3>ЧЕСТНЫЕ ОТЗЫВЫ ОТ БЛАГОДАРНЫХ КЛИЕНТОВ</h3>
        <div class="slider">
            <div class="slide">
                <img src="img/video.jpg" alt="">
                <div class="slide__vertical"></div>
                <div class="slide__logo">
                    <img src="img/logo-hunter.jpg" alt="отзыв компании callback hunter о работе группы salers">
                </div>
                <div class="slide__result">
                    <div><strong>Результат:</strong></div>
                    <div>Увеличение продаж в 2 раза</div>
                </div>
            </div>
            <div class="slide">
                <img src="img/video.jpg" alt="">
                <div class="slide__vertical"></div>
                <div class="slide__logo">
                    <img src="img/logo-hunter.jpg" alt="отзыв компании callback hunter о работе группы salers">
                </div>
                <div class="slide__result">
                    <div><strong>Результат:</strong></div>
                    <div>Увеличение продаж в 2 раза</div>
                </div>
            </div>
            <div class="slide">
                <img src="img/video.jpg" alt="">
                <div class="slide__vertical"></div>
                <div class="slide__logo">
                    <img src="img/logo-hunter.jpg" alt="отзыв компании callback hunter о работе группы salers">
                </div>
                <div class="slide__result">
                    <div><strong>Результат:</strong></div>
                    <div>Увеличение продаж в 2 раза</div>
                </div>
            </div>
            <div class="slide">
                <img src="img/video.jpg" alt="">
                <div class="slide__vertical"></div>
                <div class="slide__logo">
                    <img src="img/logo-hunter.jpg" alt="отзыв компании callback hunter о работе группы salers">
                </div>
                <div class="slide__result">
                    <div><strong>Результат:</strong></div>
                    <div>Увеличение продаж в 2 раза</div>
                </div>
            </div>
        </div>
    </div>
    <div class="callback-down">
        <div class="call-back">
            <h5>
                Хотите узнать на сколько<br>повысятся ваши продажи?
            </h5>
            <div class="form">
                <div class="form__title">
                    Оставьте номер телефона и специалист<br>свяжется с вами в ближайшее время!
                </div>
                <div class="form__number">
                    <div>+38<input type="text" class="phone-number"></div>
                    <button>ПЕРЕЗВОНИТЕ МНЕ!</button>
                </div>
            </div>
        </div>
        <div class="last-chart">
            <img src="img/last-chart.jpg" alt="рост продаж увеличиться благодаря группе SALERS">
        </div>
    </div>
</div>
</div>

//= template/footer.html


